* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  background-color: #E5E5E5;
  font-family: 'Roboto Slab', serif; }

div, ul, li, h1, p {
  background-color: white; }

nav {
  background-color: white;
  color: #2c3e50;
  margin: 0 5% 10px 5%;
  width: 90%; }

nav > ul {
  height: 70px; }

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.logo {
  width: 85px;
  height: 35px;
  background-color: white;
  padding: 10px 5px;
  display: inline-block;
  cursor: pointer; }

a {
  text-decoration: none;
  background-color: white; }

.pagePoints a {
  transition: all 0.5s;
  padding: 10px;
  font-size: 19px;
  cursor: pointer; }

.pagePoints li:hover {
  text-shadow: 5px 5px 10px black;
  transform: translate(-2px, -2px);
  background-color: #E5E5E5; }

.media li {
  margin-right: 10px;
  right: 0;
  cursor: pointer; }

.media li:hover {
  transform: translate(-1px, -1px); }

.navBtn {
  display: none;
  border: 2px solid #2c3e50;
  border-radius: 5px;
  font-size: 30px;
  width: 35px;
  height: 35px;
  justify-content: center;
  align-items: center;
  cursor: pointer; }

@media (max-width: 650px) {
  .media {
    display: none; }
  .pagePoints {
    position: absolute;
    display: block;
    transform: translateX(-100%);
    left: 0;
    top: 60px;
    background-color: #e67e22; }
  .navBtn {
    display: flex; } }

.page_3 {
  margin: 0 5%;
  padding: 10px;
  position: relative; }

.page_3 h1 {
  font-size: 50px;
  padding: 5px; }

.page3_container_center {
  display: flex;
  align-items: center;
  margin: 0 5% 5% 5%; }

.page3_arrow_left,
.page3_arrow_right {
  width: 80px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150px;
  font-weight: 1000;
  cursor: pointer;
  margin: 0 5px;
  padding: -5px; }

.page3_arrow_left:hover {
  outline: 2px solid #6d6d6d; }

.page3_arrow_right:hover {
  outline: 2px solid #6d6d6d; }

.line_block {
  padding: 20px;
  outline: 2px solid #6d6d6d; }

.page3_contents {
  display: flex;
  flex-wrap: wrap; }

.page3_block_img_a {
  display: flex;
  flex-direction: column;
  justify-content: left;
  height: auto;
  margin-right: 20px; }

.page3_block_img_a img + img {
  margin-top: 30px; }

.page3_block_img_a a {
  background-color: white; }

.page3_text {
  width: 450px;
  margin-left: 20px; }

p {
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px; }

p:hover {
  text-decoration: underline;
  outline: 1px solid blue; }

.page3_points {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  background-color: white; }

.page3_points li {
  border: 2px solid black;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  background-color: white;
  cursor: pointer; }

.page3_points li + li {
  margin-left: 15px; }

.page3_points li.active {
  background-color: #a437d6;
  width: 30px;
  height: 30px; }
