* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  background-color: #1e213a;
  font-family: "Roboto Slab", serif;
}

div,
ul,
li,
h1,
h2,
p {
  background-color: darkturquoise;
}

nav {
  background-color: darkturquoise;
  color: #2c3e50;
  margin: 0 5% 10px 5%;
  width: 90%;
}

nav > ul {
  height: 70px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 85px;
  height: 35px;
  background-color: darkturquoise;
  padding: 10px 5px;
  display: inline-block;
  cursor: pointer;
}

a {
  text-decoration: none;
  background-color: darkturquoise;
}

.pagePoints a {
  transition: all 0.5s;
  padding: 5px;
  font-size: 22px;
  cursor: pointer;
  color: white;
}

.pagePoints li:hover {
  text-shadow: 5px 5px 10px black;
  transform: translate(-2px, -2px);
}

.media li {
  margin-right: 10px;
  right: 0;
  cursor: pointer;
}

.media li:hover {
  transform: translate(-1px, -1px);
}

.navBtn {
  display: none;
  border: 2px solid #2c3e50;
  border-radius: 5px;
  font-size: 25px;
  width: 35px;
  height: 35px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: darkturquoise;
  margin-right: 5px;
}

@media (max-width: 680px) {
  .media {
    display: none;
  }
  .pagePoints {
    position: absolute;
    z-index: 2;
    transform: translateX(-140%);
    left: 5%;
    top: 70px;
  }
  .navBtn {
    display: flex;
  }
}

/*
    Страница - 3
*/
.page_3 {
  margin: 0 5%;
  padding: 10px;
  position: relative;
}

.page_3 h1 {
  font-size: 50px;
  padding: 5px;
}

.page3_container_center {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5% 5% 5%;
}
.line_block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  outline: 2px solid grey;
  padding: 30px;
}

#page3_contents {
  width: 900px;
  height: 700px;
}
.screen {
  overflow: hidden;
  position: relative;
}

.screen .slides {
  display: flex;
  position: absolute;
}

.slides li {
  display: flex;
  list-style: none;
  justify-content: center;
  margin-top: 30px;
}

.page3_block_img_a {
  display: flex;
  flex-direction: column;
  justify-content: left;
  height: 500px;
  margin-right: 25px;
  padding: 10px;
}
.page3_block_img_a img {
  margin-bottom: 50px;
}
.page3_text {
  display: flex;
  padding: 10px;
  height: 650px;
}
p {
  text-align: justify;
  font-size: 14px;
}
p:hover {
  outline: 2px solid rgb(95, 95, 224);
  text-decoration: underline;
}
img:hover {
  outline: 2px solid rgb(95, 95, 224);
}

.trigger {
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 200px;
  font-weight: 900;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.trigger:hover {
  outline: 2px solid grey;
}

.go-left {
  left: 3px;
}

.go-right {
  right: 3px;
}

.points {
  left: 50%;
  bottom: 5px;
  position: absolute;
  justify-content: space-between;
  transform: translateX(-50%);
  display: flex;
}
.points li {
  list-style: none;
  background-color: lightgreen;
  border: 1px solid black;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.points li + li {
  margin-left: 10px;
}

.points li.active {
  border: 2px solid black;
  background-color: darkblue;
  width: 26px;
  height: 26px;
}

@media (max-width: 1100px) {
  .line_block {
    width: 680px;
  }
}

@media (max-width: 850px) {
  .line_block {
    width: 500px;
  }
  .slides li {
    flex-wrap: wrap;
    justify-content: start;
  }
  .trigger {
    font-size: 25px;
  }
}
